$orange: #FCBB08;
$darkenBg: #F6F8FA;
$green: #00B2A0;
$darkText: #242121;
$lightText: #373A39;
$fontOpenSans: 'Open Sans', sans-serif;
$fontMontserat: 'Montserrat', sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: $fontOpenSans;
    font-size: 14px;
}

body.__lock {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    border: 5px solid $green;
}

.title {
    font-size: 60px;
    font-family: $fontMontserat;
    font-weight: 700;
    position: relative;
    padding-bottom: 17px;

    &::after {
        content: '';
        height: 4px;
        width: 60px;
        background-color: $orange;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.active {
    border-bottom: 2px solid $orange;
    padding-bottom: 10px;
}

input {

    outline: none;
}

// Header

.header {
    display: flex;
    flex-direction: column;
    background: url('/img/headerBg.png') center / cover no-repeat;
}

.header__top {
    background-color: #fff;
}

.header__top-inner {
    max-width: 1335px;
    width: 100%;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;

}

.header__menu-links {
    list-style: none;
    display: flex;
    // margin: 0;
    height: 35px;
    align-items: center;
    font-family: $fontMontserat;
}

.header__menu-link {
    text-decoration: none;
    margin-right: 50px;
    cursor: pointer;
    font-weight: 700;
    transition: all .15s linear;
    border-bottom: 2px solid transparent;
    font-size: 12px;

    &:last-child {
        margin-right: 0;
    }
}

.header__content {
    height: 700px;
    display: flex;
    flex-direction: column;
    font-family: $fontMontserat;
    align-items: center;

    &-title {
        font-size: 100px;
        font-weight: 700;
        color: #fff;
        margin-top: 213px;
    }

    &-subtitle {
        font-size: 16px;
        font-weight: 700;
        color: $orange;
        margin-top: 20px;
    }

    &-mouse {
        height: 43px;
        width: 26px;
        margin-top: 180px;
        border: 2px solid #fff;
        border-radius: 20px;


        &-dot {
            width: 6px;
            height: 6px;
            background-color: #fff;
            margin-left: 8px;
            margin-top: 6px;
            border-radius: 50%;
        }
    }
}

.anchor {
    text-decoration: none;
    color: #000;

    &:hover {
        padding-bottom: 10px;
        border-bottom: 2px solid $orange;
    }
}

.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    animation-name: show-header;
    animation-duration: 1s;
    width: 100%;
    height: 9%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes show-header {
    0% {
        opacity: 0;
        top: -100px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.header__menu-burger {
    display: none;
}

// About us

.about {
    background-color: $darkenBg;
    padding: 155px 0;

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        height: 80px;
        font-size: 48px;
    }

    &__text {
        color: $lightText;
        font-weight: 300;
        width: 770px;

        &-paragraph:first-child {
            margin-bottom: 20px;
        }
    }
}

// Expertise

.expertise {
    padding: 155px 0;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__graphics {
        margin-top: 90px;
        display: flex;
        justify-content: center;
        margin-bottom: 110px;

        &-item {
            margin-bottom: 30px;
            width: 370px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-data {
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
            font-size: 11px;
            letter-spacing: 1px;
        }

        &-items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-strip {

            height: 2px;
            background-color: #F0F0F0;

            &--fill {
                height: 2px;
                background-color: #1D1D1D;
            }
        }

        &-text {
            color: $lightText;
            font-weight: 300;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 45px;

            &-paragraph:first-child {
                margin-bottom: 20px;
            }
        }

        &-percent {}
    }

    &__features {
        display: flex;

        &-name {
            font-weight: 700;
            letter-spacing: 4px;
            margin-bottom: 15px;
        }

        &-text {
            font-weight: 300;
            line-height: 24px;
        }

        &-item {
            position: relative;
            margin-left: 85px;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            &::before {
                content: '';
                width: 50px;
                height: 55px;
                position: absolute;
                left: -85px;
            }

            &:nth-of-type(1)::before {
                background: url(/img/features1.svg);
            }

            &:nth-of-type(2)::before {
                background: url(/img/features2.svg);
            }

            &:nth-of-type(3)::before {
                background: url(/img/features3.svg);
            }
        }
    }
}

// Promo

.promo {
    display: flex;
    background-color: $darkenBg;
    position: relative;

    &__inner {
        display: flex;
        height: 840px;
        // width: 50%;
        justify-content: flex-end;
        margin-left: 130px;
    }



    &__right {
        display: flex;
        justify-content: center;
        width: 50%;
        flex-direction: column;
        margin-left: 130px;
        position: relative;

        &::before {
            content: '';
            background: url(/img/promo.png) center / cover no-repeat;
            width: 705px;
            height: 840px;
            position: absolute;
            left: -835px;
        }
    }

    &__text {
        margin-top: 67px;
        font-weight: 300;

        &-paragraph {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Portfolio

.portfolio {
    padding-top: 140px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &__middle {
        margin-bottom: 70px;
        margin-left: 35px;
    }

    &__categories-items {
        list-style: none;
        display: flex;

    }

    &__categories-item {
        margin-right: 40px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        transition: .2s linear;

        &:last-child {
            margin-right: 0;
        }
    }

    &__images {
        // column-gap: 1px;
        column-width: 343px;


        &-item {
            break-inside: avoid;
            margin-bottom: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 343px;
            background-color: #000;
            position: relative;
            margin-right: 0;

            &:hover .portfolio__img-info {
                opacity: 100%;
            }

            &:hover .portfolio__img {
                opacity: 40%;
            }

            &:hover {
                background-color: lighten(#000, 30%);

                &::before {
                    opacity: 100%;
                }
            }

            &::before {
                content: '';
                background-color: lighten(#000, 10%);
                width: 93%;
                height: 93%;
                position: absolute;
                opacity: 0%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__img {
        width: 343px;
        object-fit: cover;



        &-info {
            position: absolute;
            opacity: 0%;
            color: #fff;
            transition: all .2s linear;
        }


        &-title {
            font-weight: 600;
            margin-bottom: 10px;
        }

        &-subtitle {
            font-weight: 300;
            font-size: 12px;
        }
    }


    &__bottom {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkenBg;
        transition: .2s linear;
        cursor: pointer;

        &-button {
            text-decoration: none;
            color: #000;
            font-family: $fontMontserat;
            font-weight: 700;
            letter-spacing: 1.2px;
        }

        &:hover {
            background-color: darken($darkenBg, 10%);
        }

    }
}

// Video

.video {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__quote {
        margin: 130px 0 150px 0;

        &-text {
            font-size: 18px;
            font-style: italic;
            font-weight: 300;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 55px;
        }

        &-autor {
            font-style: italic;
            font-weight: 300;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #9E9E9E;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
        margin-bottom: 165px;
    }

    &__insight {
        &-qty {
            font-size: 60px;
            font-weight: 700;
            font-family: $fontMontserat;
            margin-bottom: 10px;
        }

        &-name {
            color: #00B2A0;
        }
    }

    &__mp4 {
        width: 100%;
        height: 324px;
    }

    &__inner {
        position: relative;
        margin-bottom: 165px;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     background: url(/img/play.svg) center / cover no-repeat;
        //     width: 55px;
        //     height: 65px;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);


        // }
    }
}

// Slider

.slider {
    position: relative;
    background-color: $darkenBg;

    & .container {
        width: 100%;
        max-width: 1170px;
        padding: 0;
        padding-left: 20px;
    }

    &__slide {
        // width: 100%;
        // max-width: 1170px;
        // margin: 0 auto;

        &-block {
            width: 60%;
            margin-bottom: 325px;
        }

        &-title {
            font-size: 40px;
            font-weight: 700;
            font-family: $fontMontserat;
            margin: 300px 0 32px 0;
        }

        &-subtitle {
            font-weight: 300;
            line-height: 24px;
            width: 80%;
        }
    }

}

.navi {
    position: relative;
}

.slider-arrows {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.swiper-pagination {
    padding-bottom: 115px;
    padding-left: 20px;
    text-align: left;

    &-bullet {
        background-color: #242121;
        margin: 0 6.5px;
        height: 6px;
        width: 6px;
        opacity: 40%;
        transition: .2s linear;

        &-active {
            background-color: #242121;
            opacity: 1;
            width: 8px;
            height: 8px;
            transition: .2s linear;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: -410px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: url(/img/arrow-right.svg);
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: url(/img/arrow-left.svg);
}

// Our team

.team {
    padding-top: 120px;

    &__items {
        display: flex;
        margin: 100px 0 170px 0;
    }

    &__item {
        margin-right: 30px;
        text-align: center;
        // width: 33%;

        &:last-child {
            margin-right: 0;
        }

        &-photo {
            margin-bottom: 35px;

            & img {
                max-width: 100%;
            }

        }

        &-name {
            font-family: $fontMontserat;
            font-weight: 700;
            margin-bottom: 12px;
        }

        &-position {
            font-size: 12px;
            font-weight: 300;
            color: #C2C2C2;


        }
    }
}

// Pricing plans

.pricing {
    background-color: $darkenBg;
    padding: 150px 0;

    &__plans {
        display: flex;
        margin-top: 90px;
    }

    &__plan {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 583px;
        background-color: #fff;
        margin-right: 30px;
        align-items: center;
        justify-content: center;
        transition: .2s linear;

        &:last-child {
            margin-right: 0;
        }

        &-category {
            font-size: 16px;
            font-weight: 700;
            align-self: flex-start;
            margin-left: 25px;
        }

        &-price {
            font-size: 80px;
            font-weight: 300;
            position: relative;
            margin: 10px 0 50px 0;
            margin-left: 30px;

            & span {
                font-size: 20px;
                font-weight: 300;
            }

            &::before {
                content: '$';
                position: absolute;
                font-size: 40px;
                font-weight: 300;
                left: -30px;
                top: 17px;
            }
        }

        &-chips {
            font-size: 16px;
            text-align: center;
            font-weight: 300;
            margin-bottom: 70px;
        }

        &-chip {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-button {
            font-weight: 700;
            font-family: $fontMontserat;
            color: #242121;
            cursor: pointer;


        }
    }
}

.hover-plan-selected {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hover-plan {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.darkbg {
    background-color: darken(#fff, 10%);
}

// Contacts

.contact {

    &__inner {
        display: flex;
        // position: relative;

        // &::after {
        //     content: '';
        //     background: url(/img/map.png) center / cover no-repeat;
        //     max-width: 635px;
        // width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     right: -150px;
        // }
    }

    &__title {
        margin-bottom: 95px;
    }

    &__forms {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 150px 0;

    }

    &__form-name {
        width: 80%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #373A39;
        font-size: 16px;
        margin-bottom: 40px;
        padding-bottom: 10px;

        &:focus~.contact__form-label {
            font-size: 11px;
            transform: translateY(-20px);
        }

        &:valid~.contact__form-label {
            font-size: 11px;
            transform: translateY(-20px);
        }
    }

    &__form-email {
        width: 80%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #373A39;
        font-size: 16px;
        margin-bottom: 40px;
        padding-bottom: 10px;

        &:focus~.contact__form-label {
            font-size: 11px;
            transform: translateY(-20px);
        }

        &:valid~.contact__form-label {
            font-size: 11px;
            transform: translateY(-20px);
        }
    }

    &__form-message {
        width: 80% !important;
        border: none;
        border-bottom: 2px solid #373A39;
        font-size: 18px;
        margin-bottom: 40px;
        outline: none;
        min-height: 55px;
        max-height: 200px;

        &:focus~.contact__form-label {
            font-size: 11px;
            transform: translateY(-20px);
        }

        &:valid~.contact__form-label {
            font-size: 11px;
            transform: translateY(-20px);
        }
    }

    &__form-block {
        position: relative;
    }

    &__form-label {
        color: #B8B8B8;
        font-size: 12px;
        letter-spacing: 3.71px;
        position: absolute;
        left: 2px;
        transition: .2s linear;
        pointer-events: none;
    }

    &__btn {
        padding: 16px 0;
        background-color: #242121;
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: center;
        width: 230px;
        font-size: 11px;
        font-weight: 700;
        font-family: $fontMontserat;
        letter-spacing: 2px;
    }

    &__map {
        width: 50%;
        background: url(/img/map.png) center / cover no-repeat;
    }
}

// Footer

.footer {
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #373A39;

        &-logo {
            position: relative;
            margin: 110px 0 100px 0;

            &::after {
                content: '';
                width: 150px;
                height: 2px;
                background-color: #FCBB08;
                position: absolute;
                left: -50px;
                top: 68px;
            }
        }

        &-links {
            margin-bottom: 70px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: 20px;
            margin-left: 20px;
        }

        &-link {
            margin-right: 30px;
            text-decoration: none;
            font-family: $fontMontserat;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 4px;
            color: #fff;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: darken(#fff, 15%);
            }
        }

        &-contacts {
            text-align: center;
            color: #A8A8A8;
            margin-bottom: 60px;

            &-adr {
                margin-bottom: 20px;
            }

            &-tel {
                margin-bottom: 20px;
            }
        }

        &-arrow {
            width: 10px;
            height: 10px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            transform: rotate(-45deg);
            margin-bottom: 60px;
        }
    }

    &__bottom {
        background-color: #2A2C2B;
        text-align: center;
        font-size: 12px;

        &-copyright {
            padding: 42px 0;
            color: #CCCCCC;
        }
    }
}







@import "media.scss";