body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

body.__lock {
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

p {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px; }

.logo {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 5px solid #00B2A0; }

.title {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  padding-bottom: 17px; }
  .title::after {
    content: '';
    height: 4px;
    width: 60px;
    background-color: #FCBB08;
    position: absolute;
    bottom: 0;
    left: 0; }

.active {
  border-bottom: 2px solid #FCBB08;
  padding-bottom: 10px; }

input {
  outline: none; }

.header {
  display: flex;
  flex-direction: column;
  background: url("/img/headerBg.png") center/cover no-repeat; }

.header__top {
  background-color: #fff; }

.header__top-inner {
  max-width: 1335px;
  width: 100%;
  margin: 0 auto; }

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px; }

.header__menu-links {
  list-style: none;
  display: flex;
  height: 35px;
  align-items: center;
  font-family: "Montserrat", sans-serif; }

.header__menu-link {
  text-decoration: none;
  margin-right: 50px;
  cursor: pointer;
  font-weight: 700;
  transition: all .15s linear;
  border-bottom: 2px solid transparent;
  font-size: 12px; }
  .header__menu-link:last-child {
    margin-right: 0; }

.header__content {
  height: 700px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  align-items: center; }
  .header__content-title {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    margin-top: 213px; }
  .header__content-subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #FCBB08;
    margin-top: 20px; }
  .header__content-mouse {
    height: 43px;
    width: 26px;
    margin-top: 180px;
    border: 2px solid #fff;
    border-radius: 20px; }
    .header__content-mouse-dot {
      width: 6px;
      height: 6px;
      background-color: #fff;
      margin-left: 8px;
      margin-top: 6px;
      border-radius: 50%; }

.anchor {
  text-decoration: none;
  color: #000; }
  .anchor:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #FCBB08; }

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  animation-name: show-header;
  animation-duration: 1s;
  width: 100%;
  height: 9%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

@keyframes show-header {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0; } }
.header__menu-burger {
  display: none; }

.about {
  background-color: #F6F8FA;
  padding: 155px 0; }
  .about-inner {
    display: flex;
    justify-content: space-between; }
  .about__title {
    height: 80px;
    font-size: 48px; }
  .about__text {
    color: #373A39;
    font-weight: 300;
    width: 770px; }
    .about__text-paragraph:first-child {
      margin-bottom: 20px; }

.expertise {
  padding: 155px 0; }
  .expertise__inner {
    display: flex;
    flex-direction: column; }
  .expertise__graphics {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    margin-bottom: 110px; }
    .expertise__graphics-item {
      margin-bottom: 30px;
      width: 370px; }
      .expertise__graphics-item:last-child {
        margin-bottom: 0; }
    .expertise__graphics-data {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
      font-size: 11px;
      letter-spacing: 1px; }
    .expertise__graphics-items {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .expertise__graphics-strip {
      height: 2px;
      background-color: #F0F0F0; }
      .expertise__graphics-strip--fill {
        height: 2px;
        background-color: #1D1D1D; }
    .expertise__graphics-text {
      color: #373A39;
      font-weight: 300;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 45px; }
      .expertise__graphics-text-paragraph:first-child {
        margin-bottom: 20px; }
  .expertise__features {
    display: flex; }
    .expertise__features-name {
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom: 15px; }
    .expertise__features-text {
      font-weight: 300;
      line-height: 24px; }
    .expertise__features-item {
      position: relative;
      margin-left: 85px;
      margin-right: 30px; }
      .expertise__features-item:last-child {
        margin-right: 0; }
      .expertise__features-item::before {
        content: '';
        width: 50px;
        height: 55px;
        position: absolute;
        left: -85px; }
      .expertise__features-item:nth-of-type(1)::before {
        background: url(/img/features1.svg); }
      .expertise__features-item:nth-of-type(2)::before {
        background: url(/img/features2.svg); }
      .expertise__features-item:nth-of-type(3)::before {
        background: url(/img/features3.svg); }

.promo {
  display: flex;
  background-color: #F6F8FA;
  position: relative; }
  .promo__inner {
    display: flex;
    height: 840px;
    justify-content: flex-end;
    margin-left: 130px; }
  .promo__right {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    margin-left: 130px;
    position: relative; }
    .promo__right::before {
      content: '';
      background: url(/img/promo.png) center/cover no-repeat;
      width: 705px;
      height: 840px;
      position: absolute;
      left: -835px; }
  .promo__text {
    margin-top: 67px;
    font-weight: 300; }
    .promo__text-paragraph {
      margin-bottom: 24px; }
      .promo__text-paragraph:last-child {
        margin-bottom: 0; }

.portfolio {
  padding-top: 140px; }
  .portfolio__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px; }
  .portfolio__middle {
    margin-bottom: 70px;
    margin-left: 35px; }
  .portfolio__categories-items {
    list-style: none;
    display: flex; }
  .portfolio__categories-item {
    margin-right: 40px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    transition: .2s linear; }
    .portfolio__categories-item:last-child {
      margin-right: 0; }
  .portfolio__images {
    column-width: 343px; }
    .portfolio__images-item {
      break-inside: avoid;
      margin-bottom: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 343px;
      background-color: #000;
      position: relative;
      margin-right: 0; }
      .portfolio__images-item:hover .portfolio__img-info {
        opacity: 100%; }
      .portfolio__images-item:hover .portfolio__img {
        opacity: 40%; }
      .portfolio__images-item:hover {
        background-color: #4d4d4d; }
        .portfolio__images-item:hover::before {
          opacity: 100%; }
      .portfolio__images-item::before {
        content: '';
        background-color: #1a1a1a;
        width: 93%;
        height: 93%;
        position: absolute;
        opacity: 0%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
  .portfolio__img {
    width: 343px;
    object-fit: cover; }
    .portfolio__img-info {
      position: absolute;
      opacity: 0%;
      color: #fff;
      transition: all .2s linear; }
    .portfolio__img-title {
      font-weight: 600;
      margin-bottom: 10px; }
    .portfolio__img-subtitle {
      font-weight: 300;
      font-size: 12px; }
  .portfolio__bottom {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F8FA;
    transition: .2s linear;
    cursor: pointer; }
    .portfolio__bottom-button {
      text-decoration: none;
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      letter-spacing: 1.2px; }
    .portfolio__bottom:hover {
      background-color: #d5dfe8; }

.video {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .video__quote {
    margin: 130px 0 150px 0; }
    .video__quote-text {
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 55px; }
    .video__quote-autor {
      font-style: italic;
      font-weight: 300;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #9E9E9E; }
  .video__bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 165px; }
  .video__insight-qty {
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px; }
  .video__insight-name {
    color: #00B2A0; }
  .video__mp4 {
    width: 100%;
    height: 324px; }
  .video__inner {
    position: relative;
    margin-bottom: 165px; }

.slider {
  position: relative;
  background-color: #F6F8FA; }
  .slider .container {
    width: 100%;
    max-width: 1170px;
    padding: 0;
    padding-left: 20px; }
  .slider__slide-block {
    width: 60%;
    margin-bottom: 325px; }
  .slider__slide-title {
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin: 300px 0 32px 0; }
  .slider__slide-subtitle {
    font-weight: 300;
    line-height: 24px;
    width: 80%; }

.navi {
  position: relative; }

.slider-arrows {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.swiper-pagination {
  padding-bottom: 115px;
  padding-left: 20px;
  text-align: left; }
  .swiper-pagination-bullet {
    background-color: #242121;
    margin: 0 6.5px;
    height: 6px;
    width: 6px;
    opacity: 40%;
    transition: .2s linear; }
    .swiper-pagination-bullet-active {
      background-color: #242121;
      opacity: 1;
      width: 8px;
      height: 8px;
      transition: .2s linear; }

.swiper-button-prev,
.swiper-button-next {
  top: -410px; }

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: url(/img/arrow-right.svg); }

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: url(/img/arrow-left.svg); }

.team {
  padding-top: 120px; }
  .team__items {
    display: flex;
    margin: 100px 0 170px 0; }
  .team__item {
    margin-right: 30px;
    text-align: center; }
    .team__item:last-child {
      margin-right: 0; }
    .team__item-photo {
      margin-bottom: 35px; }
      .team__item-photo img {
        max-width: 100%; }
    .team__item-name {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin-bottom: 12px; }
    .team__item-position {
      font-size: 12px;
      font-weight: 300;
      color: #C2C2C2; }

.pricing {
  background-color: #F6F8FA;
  padding: 150px 0; }
  .pricing__plans {
    display: flex;
    margin-top: 90px; }
  .pricing__plan {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 583px;
    background-color: #fff;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    transition: .2s linear; }
    .pricing__plan:last-child {
      margin-right: 0; }
    .pricing__plan-category {
      font-size: 16px;
      font-weight: 700;
      align-self: flex-start;
      margin-left: 25px; }
    .pricing__plan-price {
      font-size: 80px;
      font-weight: 300;
      position: relative;
      margin: 10px 0 50px 0;
      margin-left: 30px; }
      .pricing__plan-price span {
        font-size: 20px;
        font-weight: 300; }
      .pricing__plan-price::before {
        content: '$';
        position: absolute;
        font-size: 40px;
        font-weight: 300;
        left: -30px;
        top: 17px; }
    .pricing__plan-chips {
      font-size: 16px;
      text-align: center;
      font-weight: 300;
      margin-bottom: 70px; }
    .pricing__plan-chip {
      margin-bottom: 30px; }
      .pricing__plan-chip:last-child {
        margin-bottom: 0; }
    .pricing__plan-button {
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      color: #242121;
      cursor: pointer; }

.hover-plan-selected {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.hover-plan {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.darkbg {
  background-color: #e6e6e6; }

.contact__inner {
  display: flex; }
.contact__title {
  margin-bottom: 95px; }
.contact__forms {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 150px 0; }
.contact__form-name {
  width: 80%;
  height: 32px;
  border: none;
  border-bottom: 2px solid #373A39;
  font-size: 16px;
  margin-bottom: 40px;
  padding-bottom: 10px; }
  .contact__form-name:focus ~ .contact__form-label {
    font-size: 11px;
    transform: translateY(-20px); }
  .contact__form-name:valid ~ .contact__form-label {
    font-size: 11px;
    transform: translateY(-20px); }
.contact__form-email {
  width: 80%;
  height: 32px;
  border: none;
  border-bottom: 2px solid #373A39;
  font-size: 16px;
  margin-bottom: 40px;
  padding-bottom: 10px; }
  .contact__form-email:focus ~ .contact__form-label {
    font-size: 11px;
    transform: translateY(-20px); }
  .contact__form-email:valid ~ .contact__form-label {
    font-size: 11px;
    transform: translateY(-20px); }
.contact__form-message {
  width: 80% !important;
  border: none;
  border-bottom: 2px solid #373A39;
  font-size: 18px;
  margin-bottom: 40px;
  outline: none;
  min-height: 55px;
  max-height: 200px; }
  .contact__form-message:focus ~ .contact__form-label {
    font-size: 11px;
    transform: translateY(-20px); }
  .contact__form-message:valid ~ .contact__form-label {
    font-size: 11px;
    transform: translateY(-20px); }
.contact__form-block {
  position: relative; }
.contact__form-label {
  color: #B8B8B8;
  font-size: 12px;
  letter-spacing: 3.71px;
  position: absolute;
  left: 2px;
  transition: .2s linear;
  pointer-events: none; }
.contact__btn {
  padding: 16px 0;
  background-color: #242121;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 230px;
  font-size: 11px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px; }
.contact__map {
  width: 50%;
  background: url(/img/map.png) center/cover no-repeat; }

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373A39; }
  .footer__top-logo {
    position: relative;
    margin: 110px 0 100px 0; }
    .footer__top-logo::after {
      content: '';
      width: 150px;
      height: 2px;
      background-color: #FCBB08;
      position: absolute;
      left: -50px;
      top: 68px; }
  .footer__top-links {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px; }
  .footer__top-link {
    margin-right: 30px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 4px;
    color: #fff; }
    .footer__top-link:last-child {
      margin-right: 0; }
    .footer__top-link:hover {
      color: #d9d9d9; }
  .footer__top-contacts {
    text-align: center;
    color: #A8A8A8;
    margin-bottom: 60px; }
    .footer__top-contacts-adr {
      margin-bottom: 20px; }
    .footer__top-contacts-tel {
      margin-bottom: 20px; }
  .footer__top-arrow {
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    margin-bottom: 60px; }
.footer__bottom {
  background-color: #2A2C2B;
  text-align: center;
  font-size: 12px; }
  .footer__bottom-copyright {
    padding: 42px 0;
    color: #CCCCCC; }

@media (max-width: 1400px) {
  .header__menu {
    margin: 0 15px; } }
@media (max-width: 1250px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: -200px;
    left: 20px; }

  .swiper-button-next {
    left: 80px; } }
@media (max-width: 1052px) {
  .about__title {
    height: 140px; }

  .promo__right {
    margin-left: 0;
    margin-right: 50px; } }
@media (max-width: 924px) {
  .title {
    font-size: 48px; }

  .header__menu-link {
    margin-right: 0; }

  .anchor {
    margin-right: 30px; }

  li {
    display: block; }

  .portfolio__categories-item {
    margin-right: 25px; } }
@media (max-width: 840px) {
  .header__menu-burger {
    z-index: 10;
    display: block;
    position: relative;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer; }
    .header__menu-burger.burger-active span {
      transform: scale(0) translate(0, -50%); }
    .header__menu-burger.burger-active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%); }
    .header__menu-burger.burger-active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%); }

  .header__menu-burger span,
  .header__menu-burger::before,
  .header__menu-burger::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: .2s linear;
    background-color: #000; }

  .header__menu-burger::before,
  .header__menu-burger::after {
    content: ''; }

  .header__menu-burger::before {
    top: 0; }

  .header__menu-burger::after {
    bottom: 0; }

  .header__menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%); }

  .header__menu-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCBB08;
    transition: .3s linear;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    transform: translate(0, -100%);
    z-index: 5;
    opacity: 0; }
    .header__menu-links.burger-active {
      transform: translate(0, 0);
      opacity: .8; }

  .header__logo {
    z-index: 11; }

  .header__menu-link {
    font-size: 18px;
    margin-bottom: 20px; }

  .anchor:hover {
    border-color: #fff; }

  .about {
    padding: 100px 0; }
    .about__text {
      margin-left: 30px; }

  .expertise {
    padding: 100px 0; }
    .expertise__features {
      flex-direction: column; }
      .expertise__features-item {
        margin-right: 0;
        margin-bottom: 50px; }
    .expertise__graphics {
      flex-direction: column;
      align-items: center;
      margin: 70px 0; }
      .expertise__graphics-items {
        margin-bottom: 30px; }
      .expertise__graphics-text {
        margin-bottom: 0;
        margin-left: 0; }

  .portfolio {
    padding: 100px 0; }
    .portfolio__top {
      margin-bottom: 70px; }

  .video__quote {
    margin: 50px 0; }

  .video__inner {
    margin-bottom: 100px; }

  .video__bottom {
    margin-bottom: 100px; }

  .slider__slide-title {
    margin-top: 100px; }

  .slider__slide-block {
    margin: 0 auto;
    margin-bottom: 200px;
    text-align: center; }

  .slider__slide-subtitle {
    margin: 0 auto; }

  .swiper-pagination {
    text-align: center; }

  .swiper-button-prev,
  .swiper-button-next {
    top: -340px; }

  .swiper-button-prev {
    left: 10%; }

  .swiper-button-next {
    left: 87%; }

  .team {
    padding: 100px 0; }
    .team__items {
      margin: 70px 0 0 0; }

  .pricing {
    padding: 100px 0; }
    .pricing__plans {
      margin-top: 70px; }

  .contact__forms {
    margin: 100px 0; }

  .footer__top-logo {
    margin: 70px 0 70px 0; }

  .footer__top-links,
  .footer__top-arrow,
  .footer__top-contacts {
    margin-bottom: 50px; }

  .footer__bottom-copyright {
    padding: 30px 0; } }
@media (max-width: 740px) {
  .about-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

  .title::after {
    left: 26%; }

  .about__text {
    width: 100%;
    margin: 0 20px; }

  .about__title {
    height: auto;
    margin-bottom: 50px; }
    .about__title::after {
      left: 0; }

  .title {
    text-align: center; }

  .promo__right {
    margin: 0;
    width: 100%; }
    .promo__right::before {
      width: 100%;
      height: 200px;
      left: 0;
      bottom: -260px; }

  .promo__inner {
    margin: 0;
    justify-content: center;
    height: auto;
    padding: 70px 0 260px 0; }

  .promo__title {
    display: flex;
    justify-content: center;
    text-align: left; }

  .promo__title::after {
    left: 30%; }

  .portfolio__top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }

  .portfolio__title {
    margin-bottom: 20px; }
    .portfolio__title::after {
      left: 0; }

  .portfolio__middle {
    margin-left: 0; }

  .portfolio__images {
    display: flex;
    align-items: center;
    flex-direction: column; }

  .portfolio__categories-items {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0; }

  .portfolio__categories-item {
    margin-bottom: 10px; }

  .video__quote {
    margin: 0; }

  .team__items {
    flex-direction: column; }

  .team__item {
    margin-right: 0;
    margin-bottom: 30px; }
    .team__item-photo {
      margin-bottom: 20px; }
      .team__item-photo img {
        width: 70%; }

  .pricing__plans {
    flex-direction: column;
    align-items: center; }

  .pricing__plan {
    margin-bottom: 30px;
    margin-right: 0;
    width: 70%; }
    .pricing__plan-price {
      margin-bottom: 30px; }
    .pricing__plan-chips {
      margin-bottom: 50px; }
    .pricing__plan-button {
      font-size: 20px; }

  .pricing__plan-category {
    font-size: 18px; }

  .pricing__title::after {
    left: 22%; }

  .contact__inner {
    flex-direction: column; }

  .contact__forms {
    width: 100%;
    margin-bottom: 50px; }

  .contact__form-name {
    width: 100%; }
  .contact__form-email {
    width: 100%; }
  .contact__form-message {
    width: 100% !important; }

  .contact__btn {
    margin: 0 auto; }

  .contact__title::after {
    left: 23%; }

  .contact__map {
    width: 120%;
    height: 200px;
    align-self: center; }

  .video__quote-text {
    padding: 0 20px; }

  .footer__top-link {
    margin-bottom: 10px; } }
@media (max-width: 500px) {
  .header__content-title {
    font-size: 80px; }

  .video__insight-qty {
    font-size: 40px; }

  .slider__slide-title {
    font-size: 30px; }

  .expertise__graphics-items {
    width: 100%; }

  .expertise__graphics-item {
    width: 320px; }

  .video__insight-name {
    font-size: 12px; }

  .video__insight-qty {
    font-size: 30px; } }
@media (max-width: 375px) {
  .header__content-title {
    font-size: 60px; }

  .header__content-title {
    margin-top: 150px; }

  .header__content-mouse {
    margin-top: 120px; }

  .header__content {
    height: 500px; }

  .expertise__graphics-item {
    width: 280px; }

  .expertise__features-item {
    margin-right: 20px; }
    .expertise__features-item:last-child {
      margin-right: 20px; }

  .expertise__graphics-text {
    margin-right: 20px; }

  .promo__text {
    margin-right: 20px; }

  .contact__forms {
    margin-right: 20px; } }
